<form action="TODO" method="post" data-turbo="false">
  <!-- ... -->
  <label for="myWord">What is the longest word that you can find</label>
  <input type="text" name="myWord">
  <input type="submit" value="Play">
</form>

