/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .frame_box{
  width: 40px;
  height: 40px;
  background-color: rgb(75, 136, 197);
  border: 1px solid rgb(61, 144, 226);
  text-align: center;
  color: white;
  font-size: 30px;
  margin-right: 5px;
 }
 .container{
  display: flex;
  /* flex-direction: column; */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100%;
  flex-direction: column;
}

 .content{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100%;
  margin-top: 150px;
 }
